{% extends "auth/base.html" %}
{% block title %} Login {%  endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <article class="card-body">
                <a href="/auth/new_user" class="float-right btn btn-outline-primary">New user</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input name="username" class="form-control" placeholder="username" type="username">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" class="form-control" placeholder="********" type="password">
                    </div> <!-- form-group// --> 
                    <div>
                        <p> {{log_in_error}}</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block", value="Submit"> Login  </button>
                    </div> <!-- form-group// -->                                                           
                </form>
                </article>
                </div> <!-- card.// -->                
        </div>
    </div>
</div>
{% endblock %}