{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} New User {%  endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Create a new user</h4>
                {{ wtf.quick_form(form) }}
                </article>
                <a href="/auth/login" class="text-info">Login</a>
                </div> <!-- card.// -->             
        </div>
    </div>
</div>
{% endblock %}

