{% extends "auth/base.html" %}
{% block title %} Login {%  endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <article class="card-body">
                <a href="/auth/login" class="float-right btn btn-outline-primary">Login</a>
                <h4 class="card-title mb-4 mt-1">Create a new user</h4>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input name="username" class="form-control" placeholder="username" type="username">
                    </div> <!-- form-group// -->
                    <div>
                        <p> {{username_error}} </p>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" class="form-control" placeholder="********" type="password">
                    </div> <!-- form-group// --> 
                    <div>
                        <p> {{password_error}} </p>
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input name="password_repeat" class="form-control" placeholder="********" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>email</label>
                        <input name="email" class="form-control" placeholder="example@company.com" type="email">
                    </div> <!-- form-group// --> 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block", value="Submit"> Login  </button>
                    </div> <!-- form-group// -->                                                           
                </form>
                </article>
                </div> <!-- card.// -->                
        </div>
    </div>
</div>
{% endblock %}